.header {
    border-bottom: 1px solid var(--gray-border);
    background: var(--bg-card);
}
.header_container {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
