.container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.dash {
    display: block;
    flex: 1;
    height: 3px;
    width: 40px;
}

.dash_muted {
    display: block;
    flex: 1;
    background: var(--text-muted);
    height: 3px;
    width: 80px;
}
.dash_active {
    display: block;
    flex: 1;
    background: var(--color-success);
    height: 3px;
    width: 80px;
}
.item_container {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.radio_item {
    width: 2rem;
    height: 2rem;
    border-radius: var(--border-radius-full);
    border: 1px solid var(--text-muted);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    outline: none;
}

.radio_inactive {
    border: 1px solid var(--text-muted);
    color: var(--text-muted);
}
.radio_active {
    border: 1px solid var(--color-blue);
    background: var(--color-blue);
    color: var(--color-white);
}
.radio_done {
    border: 1px solid var(--color-success);
    background: var(--color-success);
    color: var(--color-white);
}
.radio_label {
    font-family: var(--font-geist-mono);
    font-size: 0.75rem;
}
.radio_label_inactive {
    color: var(--text-muted);
}
.radio_label_active {
    color: var(--color-white);
}
